@media screen and (min-width: 700px) {

    main {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        grid-gap: 1rem;
    }

    .sidebarMain {
        grid-template: 1fr / 1fr 1fr 1fr;
    }

    .sidebar{
        grid-column: 1/2;
    }

    .imageArea{
        grid-column:2/4;
    }

    .imageArea img{
        width: 100%;
    }

    .imageArea img:hover {
        box-shadow: 0 0 50px #333;
    }

    main h2 {
        text-align:left;
    }

    section {
        grid-column: auto;
    }

    nav {
        display:grid;
        grid-template: 1fr/ 1fr 1fr 1fr 1fr;
    }

    nav a {
        color:white;
        display: block;
        text-align:center;
        padding: .5rem;
        text-decoration: none;
    }

    footer{
        display:grid;
        grid-template: 1fr 1fr/ 1fr 1fr;
    }

    #menu {
        display:none;
    
    }

    form fieldset {
        max-width:100%;
    }

    form label.sbs {
        padding: .4rem 0;
    }

    #membershipTable{
        display:table;
    }

    table {
        margin: 10px auto;
        border: thin solid var(--border);
        border-collapse: collapse;
        grid-column:2/3;
        height: 75%;
        width:100%;
    }
    
    caption {
      padding: 5px;
      caption-side: bottom;
        color: var(--back);
        font-size: .85rem;
    }
    
    thead:nth-child(2) :first-child {
        background-color: var(--back);
        color: var(--forelight);
    }
    
    th, td {
        padding: 7px 15px;
        border: 1px solid var(--borderlight);
    }
    
    th {
        background-color: var(--back2);
        font-size: larger;
    }
    
    td {
        text-align: center;
    }
    
    tbody tr:nth-child(even) {
        background-color: var(--zebra);
    }
}